[submodule "vendor/libepoxy"]
	path = vendor/libepoxy
	url = https://github.com/anholt/libepoxy
	ignore = dirty
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
